## .NET build & artifacts
[Dd]ebug*/ 
[Rr]elease*/ 
x64/
x86/
[Aa][Rr][Mm]64/
bld/
**/bin/
**/obj/
[Ll]og/
[Ll]ogs/
artifacts/
CodeCoverage/
*.binlog

## .NET package/test
*.nupkg
*.snupkg
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml

## ASP.NET scaffolding
ScaffoldingReadMe.txt

## Temp
~$*
*~

## IDE (VS, Rider, ReSharper)
.vs/
.idea/
*.sln.iml
*.user
*.suo
*.userosscache
*.sln.docstates

## General build/cache
*.cache
*.pdb
*.dll
*.mdb
*.dbmdl
*.bak

## OS junk
.DS_Store
Thumbs.db
